name: main

on:
  workflow_dispatch:
  schedule:
    - cron: '5 0 * * 1-5'    # 1st: 09:15 -> 09:05 (JST)
    - cron: '45 1 * * 1-5'   # 2nd: 10:55 -> 10:45 (JST)
    - cron: '10 4 * * 1-5'   # 3rd: 13:20 -> 13:10 (JST)
    - cron: '50 5 * * 1-5'   # 4th: 15:00 -> 14:50 (JST)
    - cron: '30 7 * * 1-5'   # 5th: 16:40 -> 16:30 (JST)
    - cron: '10 9 * * 1-5'   # 6th: 18:20 -> 18:10 (JST)
    - cron: '50 10 * * 1-5'  # 7th: 20:00 -> 19:50 (JST)

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
      - run: pip install pdfplumber pandas requests
      - env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          TZ: Asia/Tokyo
        run: python main.py